/* hero section */

/* eeeeee =>white 
393e46 => dark grey 
76ead7 => complementary turquoise
*/

body {
  margin: 0;
  font-family: Nunito;
  font: 10px;
  text-align: center;
}

/* @media only screen and (min-width: 800px) {
  body {
    
  }
} */

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #393e46;
  color: #eeeeee;
  text-align: left;
}

nav p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0 0 10px 0;
  font-family: 'Roboto Mono', monospace;
}

nav a, .contact-me a {
  display: inline;
  text-decoration: none;
  color: #eeeeee;
  margin: auto;
  padding-right: 18px;
}

nav a:hover {
  color: #76ead7;
}

@media only screen and (min-width: 900px) {
  nav {
    flex-direction: row;
  }
  nav a {
    padding: 1rem;
  }
  .nav-name {
    font-size: 25px;
  }
}

header {
  display: flex;
  margin: 0;
  text-align: center;
  background-color: #393e46;
  color: #76ead7;
  height: 15rem;
}

h1 {
  margin: auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
}

@media only screen and (min-width: 900px) {
  header {
    height: 30rem;
  }
  h1 {
    font-size: 3rem;
  }
}

.about {
  background-color: #76ead7;
  color: #393e46;
}

.about h3, .skills h3, .experience h3 {
  margin: 0;
  padding: 2rem;
  font-size: 1.5rem;
  color: #eeeeee;
  text-shadow: 1px 1px 1px #393e46;
  font-family: 'Roboto Mono', monospace;
}

.about p, .experience p {
  margin: 0;
  padding: 0 3rem 1rem 3rem;
}

@media only screen and (min-width: 900px) {
  .about p, .experience p {
    padding: 10px 300px 10px 300px;
  }
  .about h3, .skills h3, .experience h3 {
    padding-top: 100px;
    font-size: 2.5rem;
  }
}

span {
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.skills {
  margin: auto;
  background-color: #76ead7;
  color: #393e46;
}

.skills-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 100px 0;
}

.skills-container P {
  margin: 0;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

/* 
.skills-container p {
  flex-basis: 30%;
  padding: 0 20px;
} */

li {
  list-style: none;
  display: inline;
  padding: 2px;
}

li::before {
  content: '▫︎ ';
}

li:last-child::after {
  content: ' ▫︎';
}

ul {
  padding: 0 40px;
}

@media only screen and (min-width: 900px) {
  .skills-container p {
    padding: 0 300px;
  }
  ul {
    padding: 0 300px;
  }
}

.border-container {
  border: 1px dashed #eeeeee
}

.feature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

h4 {
  font-family: 'Roboto Mono', monospace;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  min-width: 100px;
  padding: 2px;
  margin: 6px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #76ead7;
  border-radius: 4px;
  color: #76ead7;
}

.links a:hover {
  background-color: #76ead7;
  color: #eeeeee;
}

img {
  width: 300px;
  margin: auto;
  flex-basis: 30%;
  border-radius: 4px;
  box-shadow: 0 0 5px #393e46;
}

.projects h3, .contact-me h3 {
  margin: 0;
  padding: 2rem;
  font-size: 1.5rem;
  color: #76ead7;
  text-shadow: 1px 1px 1px #393e46;
  font-family: 'Roboto Mono', monospace;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.projects-container li {
  padding: 0;
}

.feature {
  flex-basis: 1;
  text-align: center;
  color: #393e46;
}

.feature-container p {
  padding: 0 50px;
}

@media only screen and (max-width: 320px) {
  img {
    width: 250px;
  }
}

@media only screen and (min-width: 900px) {
  h4 {
    margin: 30px 0 20px;
    font-size: 1.5rem;
  }
  .projects h3, .contact-me h3 {
    font-size: 2.5rem;
  }
  .projects ul {
    padding: 0 60px;
  }
  .links a {
    margin: 8px;
  }
  .feature-container p {
    padding: 0 300px;
  }
  img {
    width: 600px;
  }
  .projects-container li {
    padding: 2px;
  }
}

@media only screen and (min-width: 1200px) {
  .feature {
    flex-direction: row;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .feature {
    margin: 70px;
  }
  h4 {
    margin: 10px 0 20px;
    font-size: 1.5rem;
  }
  .links {
    display: flex;
    justify-content: center;
  }
  .links a {
    padding: 5px;
    margin: 5px;
  }
  .projects h3, .contact-me h3 {
    font-size: 2.5rem;
  }
  .projects-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .feature {
    height: 20rem;
  }
  .feature-container p {
    padding: 0 20%;
  }
}

.experience {
  margin-top: 40px;
  background-color: #76ead7;
}

.role {
  color: #393e46;
}

.role:last-child {
  padding-bottom: 50px;
}

@media only screen and (min-width: 900px) {
  .experience {
    margin-top: 100px;
  }
  .role:last-child {
    padding-bottom: 100px;
  }
}

.contact-me {
  background-color: #393e46;
  padding-bottom: 60px;
}

.contact-me a:hover {
  color: #76ead7;
}