/* hero section */

/* 120136=>dark blue 
035aa6 => medium blue 
40bad5 => light blue
fcbf1e => complementary yellow
*/

body {
  margin: 0;
  font-family: Nunito;
  font: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #120136;
}

header {
  margin: 0;
  text-align: center;
  background-color: #120136;
  color: #40bad5;
  height: 30rem;
}

main {
  text-align: center;
}

h1 {
  margin: auto;
}

h3 {
  margin: auto;
}

p {
  margin: 0;
}

.about {
  background-color: #fcbf1e;
  color: #120136;
}

.about p {
  padding: 4rem;
}

.technologies {
  background-color: #40bad5;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;
}

.projects {
  background-color: #035aa6;
  color: #fcbf1e;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.feature {
  flex-basis: 1;
  text-align: center;
  height: 20rem;
}

.game {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
}

img {
  width: 20rem;
}

a {
  display: block;
}